<html lang="en">
<head>

    <title>Document</title>
</head>
<body>
    <form action="/form" method="GET">
        <label for="job">Enter your Job name:</label>
        <input type="text" name="job_name">
        <label for="job">Enter your Job Location:</label>
        <input type="text" name="location">
        <button type="submit">submit</button>
    </form>
</body>
</html>